html {
	height:100%;
	min-height: 100%;
}

body {
	font-family:Verdana;
	font-size:13px;
	color:black;
	background-color:#E5E5E5;
	padding:0;
	margin:0;
	height:100%;
	min-height: 100%;
}

.wrapper {
	width:1100px;
	padding:30px;
	margin:0 auto;
	background-color:#ffffff;
	height:100%;
	min-height: 100%;
}

h1 {
	font-size:22px;
	font-weight:normal;
}

.progress-title {
	float:left;
	margin-right:10px;
}

.progress-bar-wrapper {
	float:left; 
	padding:3px; 

	height:22px; 
	width:108px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	border:1px solid #cccccc;

	background: #E5E5E5; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 40%, #E5E5E5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(40%,#ffffff), color-stop(100%,#E5E5E5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 40%,#E5E5E5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 40%,#E5E5E5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 40%,#E5E5E5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 40%,#E5E5E5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#E5E5E5',GradientType=0 ); /* IE6-9 */
}

.progress-bar {
	height:12px;
	float:left;

	border:1px solid #2dc46c;

	background: #31d675; /* Old browsers */
	background: -moz-linear-gradient(top,  #31d675 0%, #31d675 40%, #2dc46c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#31d675), color-stop(40%,#31d675), color-stop(100%,#2dc46c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #31d675 0%,#31d675 40%,#2dc46c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #31d675 0%,#31d675 40%,#2dc46c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #31d675 0%,#31d675 40%,#2dc46c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #31d675 0%,#31d675 40%,#2dc46c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31d675', endColorstr='#2dc46c',GradientType=0 ); /* IE6-9 */
}

.progress-value {
	float:left;
	margin-left:10px;
}

/* Tasks list table */
a.showGraph {
	float:right;
}

.tasks-list, .tasks-list td, .tasks-list th {
	border-collapse: collapse;
	border:1px solid #cccccc;
	font-size:13px;
}

.tasks-list th {
	padding:8px 12px;
	background-color: #E5E5E5;
}

.tasks-list th.description {
	width:270px;
}

.tasks-list th.resource {
	width:120px;
}

.tasks-list th.progress {
	width:170px;
}

.tasks-list th.place {
	width:120px;
}

.tasks-list th.duration {
	width:120px;
}

.tasks-list th.status {
	width:120px;
}

.tasks-list td {
	padding:6px 10px;
}